<form action="#" method="post" onsubmit="return CalculatePremium();">

    <div class="row">

        <div class="col-md-4">
            <div class="form-group">
                <label>Name</label>
                @Html.TextBox("Name", null, new { @class = "form-control", required = "required", placeholder = "Name" })
            </div>

        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label>Age</label>
                @Html.TextBox("Age", null, new { @class = "form-control", type = "number", step = "1", min = "0", required = "required", placeholder = "Age" })
            </div>

        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label>Dob</label>
                @Html.TextBox("Dob", null, new { @class = "form-control", type = "date", required = "required", placeholder = "Date of Birth" })
            </div>

        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label>Occupation</label>
                <select class="form-control" id="Occupation" required>
                    <option value="">Select  Occupation</option>
                    <option value="Cleaner" data-factor="1.5">Cleaner</option>
                    <option value="Doctor" data-factor="1.0">Doctor</option>
                    <option value="Author" data-factor="1.25">Author</option>
                    <option value="Farmer" data-factor="1.75">Farmer</option>
                    <option value="Mechanic" data-factor="1.75">Mechanic</option>
                    <option value="Florist" data-factor="1.5">Florist</option>
                </select>

            </div>

        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label>Sum Insured</label>
                @Html.TextBox("SumInsured", null, new { @class = "form-control", type = "number", required = "required", placeholder = "Sum insured" })
            </div>

        </div>

    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <button class="btn btn-primary">Calculate</button>
            </div>

        </div>

        <div class="col-md-4">
            <h3>Premmium Amount: </h3>
            <h3 id="PremiumAount"></h3>

        </div>

    </div>
</form>

<script type="text/javascript">


    $(document).on("change", "#Occupation", function () {
        CalculatePremium();
    })

    function CalculatePremium() {
        var CoverageAmount = $("#SumInsured").val();
        var Age = $("#Age").val();
        var Factor = $("#Occupation").find(':selected').data('factor');

        if (isNaN(CoverageAmount)) {
            CoverageAmount = 0;

        }
        if (isNaN(Age)) {
            Age = 0;

        }

        if (isNaN(Factor)) {
            Factor = 0;

        }

        var Premium = ((CoverageAmount * Factor * Age) / (1000 * 12));

        $("#PremiumAount").html(Premium);

        return false;

    }

</script>
